<template>
  <div class="content">
    <div class="task">
      <h1>Hello Weather App</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
})
export default class HelloWorld extends Vue {
}
</script>

<style scoped>
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .task {
    width: 400px;
    flex-direction: column;
  }
</style>
